absl-py==1.4.0
aenum==3.1.11
aiohttp==3.8.1
aiosignal==1.2.0
appnope==0.1.2
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.0.5
astunparse==1.6.3
async-timeout==4.0.2
attrs==21.4.0
awswrangler==2.16.1
backcall==0.2.0
backoff==2.1.2
beautifulsoup4==4.11.1
bidict==0.22.1
black==22.1.0
blis==0.7.9
boto3==1.24.34
botocore==1.27.34
branca==0.5.0
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.3
confection==0.0.4
contourpy==1.0.7
cycler==0.11.0
cymem==2.0.7
Cython==3.0.0
debugpy==1.5.1
decorator==5.1.1
deep-translator==1.11.4
distlib==0.3.6
docx==0.2.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.2
facebook-sdk==3.1.0
filelock==3.10.0
Flask==2.2.3
Flask-Cors==4.0.0
Flask-SocketIO==5.3.3
flatbuffers==23.5.26
folium==0.5.0
fonttools==4.29.1
frozenlist==1.3.0
fsspec==2023.12.2
gast==0.4.0
gensim==4.3.1
google-ai-generativelanguage==0.2.0
google-api-core==2.11.0
google-auth==2.16.2
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.1
google-cloud-speech==2.23.0
google-cloud-translate==3.13.0
google-generativeai==0.1.0
google-pasta==0.2.0
googleapis-common-protos==1.59.0
googletrans==4.0.0rc1
graphviz==0.20.1
gremlinpython==3.6.0
grpcio==1.54.2
grpcio-status==1.54.2
gTTS==2.5.0
h11==0.9.0
h2==3.2.0
h5py==3.8.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
huggingface-hub==0.20.2
hyperframe==5.2.0
idna==2.10
imbalanced-learn==0.11.0
imblearn==0.0
ipykernel==6.9.0
ipython==8.13.2
isodate==0.6.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.1
jsonpath-ng==1.5.3
jupyter-client==7.1.2
jupyter-core==4.9.1
keras==2.14.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
langcodes==3.3.0
langdetect==1.0.9
libclang==15.0.6.1
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.3
mido==1.3.0
missingno==0.5.1
ml-dtypes==0.2.0
mpmath==1.3.0
multidict==6.0.2
murmurhash==1.0.9
mypy-extensions==0.4.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.8.1
noise==1.2.2
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.7
opencv-contrib-python==4.8.1.78
opencv-python==4.8.0.76
openpyxl==3.0.10
opensearch-py==1.1.0
opt-einsum==3.3.0
outcome==1.3.0.post0
packaging==23.1
pandas==2.0.3
pandasai==0.2.15
parso==0.8.3
pathspec==0.9.0
pathy==0.10.1
patsy==0.5.3
pdfkit==1.0.0
pexpect==4.8.0
pg8000==1.29.1
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==2.4.1
plotly==5.14.1
ply==3.11
preshed==3.0.8
pretty-midi==0.2.10
progressbar2==4.0.0
prompt-toolkit==3.0.38
proto-plus==1.23.0
protobuf==4.24.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.10.7
pydotplus==2.0.2
pydub==0.25.1
pygame==2.1.2
Pygments==2.11.2
PyMySQL==1.0.2
pyobjc==10.1
pyobjc-core==10.1
pyobjc-framework-Accessibility==10.1
pyobjc-framework-Accounts==10.1
pyobjc-framework-AddressBook==10.1
pyobjc-framework-AdServices==10.1
pyobjc-framework-AdSupport==10.1
pyobjc-framework-AppleScriptKit==10.1
pyobjc-framework-AppleScriptObjC==10.1
pyobjc-framework-ApplicationServices==10.1
pyobjc-framework-AppTrackingTransparency==10.1
pyobjc-framework-AudioVideoBridging==10.1
pyobjc-framework-AuthenticationServices==10.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.1
pyobjc-framework-Automator==10.1
pyobjc-framework-AVFoundation==10.1
pyobjc-framework-AVKit==10.1
pyobjc-framework-BusinessChat==10.1
pyobjc-framework-CalendarStore==10.1
pyobjc-framework-CallKit==10.1
pyobjc-framework-CFNetwork==10.1
pyobjc-framework-ClassKit==10.1
pyobjc-framework-CloudKit==10.1
pyobjc-framework-Cocoa==10.1
pyobjc-framework-Collaboration==10.1
pyobjc-framework-ColorSync==10.1
pyobjc-framework-Contacts==10.1
pyobjc-framework-ContactsUI==10.1
pyobjc-framework-CoreAudio==10.1
pyobjc-framework-CoreAudioKit==10.1
pyobjc-framework-CoreBluetooth==10.1
pyobjc-framework-CoreData==10.1
pyobjc-framework-CoreHaptics==10.1
pyobjc-framework-CoreLocation==10.1
pyobjc-framework-CoreMedia==10.1
pyobjc-framework-CoreMediaIO==10.1
pyobjc-framework-CoreMIDI==10.1
pyobjc-framework-CoreML==10.1
pyobjc-framework-CoreMotion==10.1
pyobjc-framework-CoreServices==10.1
pyobjc-framework-CoreSpotlight==10.1
pyobjc-framework-CoreText==10.1
pyobjc-framework-CoreWLAN==10.1
pyobjc-framework-CryptoTokenKit==10.1
pyobjc-framework-DataDetection==10.1
pyobjc-framework-DeviceCheck==10.1
pyobjc-framework-DictionaryServices==10.1
pyobjc-framework-DiscRecording==10.1
pyobjc-framework-DiscRecordingUI==10.1
pyobjc-framework-DiskArbitration==10.1
pyobjc-framework-DVDPlayback==10.1
pyobjc-framework-EventKit==10.1
pyobjc-framework-ExceptionHandling==10.1
pyobjc-framework-ExecutionPolicy==10.1
pyobjc-framework-ExternalAccessory==10.1
pyobjc-framework-FileProvider==10.1
pyobjc-framework-FileProviderUI==10.1
pyobjc-framework-FinderSync==10.1
pyobjc-framework-FSEvents==10.1
pyobjc-framework-GameCenter==10.1
pyobjc-framework-GameController==10.1
pyobjc-framework-GameKit==10.1
pyobjc-framework-GameplayKit==10.1
pyobjc-framework-ImageCaptureCore==10.1
pyobjc-framework-InputMethodKit==10.1
pyobjc-framework-InstallerPlugins==10.1
pyobjc-framework-InstantMessage==10.1
pyobjc-framework-Intents==10.1
pyobjc-framework-IntentsUI==10.1
pyobjc-framework-IOBluetooth==10.1
pyobjc-framework-IOBluetoothUI==10.1
pyobjc-framework-IOSurface==10.1
pyobjc-framework-iTunesLibrary==10.1
pyobjc-framework-KernelManagement==10.1
pyobjc-framework-LatentSemanticMapping==10.1
pyobjc-framework-LaunchServices==10.1
pyobjc-framework-libdispatch==10.1
pyobjc-framework-libxpc==10.1
pyobjc-framework-LinkPresentation==10.1
pyobjc-framework-LocalAuthentication==10.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.1
pyobjc-framework-MailKit==10.1
pyobjc-framework-MapKit==10.1
pyobjc-framework-MediaAccessibility==10.1
pyobjc-framework-MediaLibrary==10.1
pyobjc-framework-MediaPlayer==10.1
pyobjc-framework-MediaToolbox==10.1
pyobjc-framework-Metal==10.1
pyobjc-framework-MetalKit==10.1
pyobjc-framework-MetalPerformanceShaders==10.1
pyobjc-framework-MetalPerformanceShadersGraph==10.1
pyobjc-framework-MetricKit==10.1
pyobjc-framework-MLCompute==10.1
pyobjc-framework-ModelIO==10.1
pyobjc-framework-MultipeerConnectivity==10.1
pyobjc-framework-NaturalLanguage==10.1
pyobjc-framework-NetFS==10.1
pyobjc-framework-Network==10.1
pyobjc-framework-NetworkExtension==10.1
pyobjc-framework-NotificationCenter==10.1
pyobjc-framework-OpenDirectory==10.1
pyobjc-framework-OSAKit==10.1
pyobjc-framework-OSLog==10.1
pyobjc-framework-PassKit==10.1
pyobjc-framework-PencilKit==10.1
pyobjc-framework-PHASE==10.1
pyobjc-framework-Photos==10.1
pyobjc-framework-PhotosUI==10.1
pyobjc-framework-PreferencePanes==10.1
pyobjc-framework-PushKit==10.1
pyobjc-framework-Quartz==10.1
pyobjc-framework-QuickLookThumbnailing==10.1
pyobjc-framework-ReplayKit==10.1
pyobjc-framework-SafariServices==10.1
pyobjc-framework-SceneKit==10.1
pyobjc-framework-ScreenCaptureKit==10.1
pyobjc-framework-ScreenSaver==10.1
pyobjc-framework-ScreenTime==10.1
pyobjc-framework-ScriptingBridge==10.1
pyobjc-framework-SearchKit==10.1
pyobjc-framework-Security==10.1
pyobjc-framework-SecurityFoundation==10.1
pyobjc-framework-SecurityInterface==10.1
pyobjc-framework-ServiceManagement==10.1
pyobjc-framework-ShazamKit==10.1
pyobjc-framework-Social==10.1
pyobjc-framework-SoundAnalysis==10.1
pyobjc-framework-Speech==10.1
pyobjc-framework-SpriteKit==10.1
pyobjc-framework-StoreKit==10.1
pyobjc-framework-SyncServices==10.1
pyobjc-framework-SystemConfiguration==10.1
pyobjc-framework-SystemExtensions==10.1
pyobjc-framework-UniformTypeIdentifiers==10.1
pyobjc-framework-UserNotifications==10.1
pyobjc-framework-UserNotificationsUI==10.1
pyobjc-framework-VideoSubscriberAccount==10.1
pyobjc-framework-VideoToolbox==10.1
pyobjc-framework-Virtualization==10.1
pyobjc-framework-Vision==10.1
pyobjc-framework-WebKit==10.1
PyOpenGL==3.1.7
pyparsing==3.0.7
PySocks==1.7.1
python-anticaptcha==1.0.0
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-engineio==4.4.0
python-pptx==0.6.22
python-socketio==5.8.0
python-utils==3.3.3
pyttsx3==2.90
pytz==2021.3
PyYAML==6.0.1
pyzmq==22.3.0
redshift-connector==2.0.908
regex==2022.10.31
reportlab==4.0.4
requests==2.28.0
requests-aws4auth==1.1.2
requests-oauthlib==1.3.1
rfc3986==1.5.0
rsa==4.9
s3transfer==0.6.0
safetensors==0.4.1
scikit-learn==1.1.2
scipy==1.8.0
scramp==1.4.1
seaborn==0.11.2
selenium==4.17.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==2.1.3
SQLAlchemy==1.3.9
srsly==2.4.6
stack-data==0.1.4
statsmodels==0.13.5
sympy==1.12
tabulate==0.9.0
tenacity==8.2.1
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-hub==0.14.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
thinc==8.1.9
threadpoolctl==3.1.0
tk==0.1.0
tkinterdnd2==0.3.0
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado==6.1
tqdm==4.65.0
traitlets==5.1.1
transformers==4.36.2
trio==0.24.0
trio-websocket==0.11.1
tweepy==4.14.0
typer==0.7.0
typing_extensions==4.9.0
tzdata==2023.3
urllib3==1.26.10
virtualenv==20.21.0
waitress==2.1.2
wasabi==1.1.1
wcwidth==0.2.5
Werkzeug==2.2.3
wget==3.2
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.3
yarl==1.7.2
yellowbrick==1.5
zstandard==0.21.0
